# --- Fichiers et dossiers spécifiques à PlatformIO ---
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
extdata/

# --- Dossiers de build et fichiers de sortie ---
build/
.cache/
*.bin
*.elf
*.map

# --- Fichiers d'environnement ---
.vscode/
.theia/
.idea/
*.code-workspace
cmake-build-*/
debug_custom.json
esp32.svd
debug.cfg

